{% extends "base.html" %}
{% load static %}
{% block title %}Peppe Planet - Get In Touch{% endblock %}

{% block content %}

<!-- End Header -->

<!-- Main -->
<main>
    <!-- Banner -->
    <div class="section pb-0">
        <div class="r-container">
            <div class="row row-cols-xl-2 row-cols-1 align-items-center">
                <div class="col mb-3">
                    <div class="position-relative mt-xl-5">
                        <img src="{% static 'image/contactformimg.png' %}" class="img-fluid h-100 mt-xl-5" alt=""
                            style="height: 700px width:600px">

                    </div>
                </div>
                <div class="col mb-3 scrollanimation animated fadeInRight overflow-visible position-relative"
                    style="z-index: 2;">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-column gap-3" style="max-width: 700px;">
                            <h6 class="brush1 accent-color-2" style="width: max-content;">Contact Us</h6>
                            <h3>Any Question? <span class="accent-color fw-bold">Ask Now</span></h3>
                            <p style="max-width: 600px;">
                                Got a question on your mind? Don’t hesitate! Ask now and get the answers you
                                need.
                            </p>
                        </div>
                        <div class="d-flex flex-column gap-3 justify-content-center w-100">
                            <div class="position-relative w-100">
                                <div class="success_msg toast align-items-center w-100 shadow-none mb-3 border border-success rounded-pill my-4"
                                    role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex p-2">
                                        <div
                                            class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-success">
                                            <i class="fa-solid fa-check f-36 text-success"></i>
                                            Your Message Successfully Send.
                                        </div>
                                        <button type="button"
                                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-success"
                                            data-bs-dismiss="toast" aria-label="Close"><i
                                                class="fa-solid fa-xmark"></i></button>
                                    </div>
                                </div>
                                <div class="error_msg toast align-items-center w-100 shadow-none border-danger mb-3 my-4 border rounded-pill"
                                    role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex p-2">
                                        <div
                                            class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-danger">
                                            <i class="fa-solid fa-triangle-exclamation f-36 text-danger"></i>
                                            Something Wrong ! Send Form Failed.
                                        </div>
                                        <button type="button"
                                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-danger"
                                            data-bs-dismiss="toast" aria-label="Close"><i
                                                class="fa-solid fa-xmark"></i></button>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <div class="d-flex flex-column gap-3 p-lg-4">
                                        <div>
                                            {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert 
                                                    {% if message.tags == 'success' %}alert-success
                                                    {% elif message.tags == 'error' %}alert-danger
                                                    {% else %}alert-info{% endif %}
                                                    alert-dismissible fade show" role="alert">

                                                {{ message }}
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="alert"></button>
                                            </div>
                                            {% endfor %}
                                            {% endif %}

                                            

                                            <form method="post" action="{% url 'get_in_touch' %}"
                                                class="d-flex flex-column contact h-100 justify-content-center w-100 form">

                                                {% csrf_token %}

                                                <div class="mb-3">
                                                    <input type="text" class="form-control py-3 px-4" name="name"
                                                        id="name" placeholder="Name" required>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>
                                                <div class="row row-cols-xl-2 row-cols-1">
                                                    <div class="col mb-3">
                                                        <input type="email" class="form-control py-3 px-4" name="email"
                                                            id="email" placeholder="Email" required>
                                                        <div class="invalid-feedback">
                                                            The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <input type="tel" class="form-control py-3 px-4" name="phone"
                                                            id="phone" placeholder="Phone" required>
                                                        <div class="invalid-feedback">
                                                            The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control py-3 px-4" name="subject"
                                                        id="subject" placeholder="Subject" required>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control py-3 px-4" name="message" rows="4"
                                                        id="message" placeholder="Message" required></textarea>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>

                                                <button type="submit"
                                                    class="btn btn-accent submit_form py-3 gap-2 justify-content-center">
                                                    Submit
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
















    <div class="section position-relative bg-attach-cover" style="background-image: url('{% static 'image/BG10.png' %}'); padding-bottom: 25rem; padding-top: 5rem;">

        <div class="r-container">
            <div class="row row-cols-xl-2 row-cols-1">
                <div class="col mb-3 scrollanimation animated zoomIn">
                    <div class="d-flex flex-column gap-3 justify-content-center h-100">
                        <h6 class="brush1 accent-color-2 w-max-content">Connect With Us</h6>
                        <h1>Get Support and <span class="accent-color fw-bold">Connect With Us</span></h1>
                        <p style="max-width: 600px;">
                            We are dedicated to fostering a love for learning in every child. Through engaging
                            activities, personalized attention, and a supportive environment
                        </p>
                    </div>
                </div>
                <div class="col mb-3 scrollanimation animated pulse">
                    <img src="{% static 'image/getintouchimg.png' %}" class="img-fluid" alt="" style="margin-top:80px;">

                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <div class="section">
        <div class="r-container">
            <div class="row row-cols-xl-3 row-cols-1">
                <div class="col mb-3 scrollanimation animated fadeInLeft">
                    <div class="d-flex flex-column align-items-center h-100 w-100">
                        <div class="bg-accent-color-2 accent-color-primary custom-border-2">
                            <i class="rtmicon rtmicon-location fs-2"></i>
                        </div>
                        <div class="d-flex flex-column gap-3 text-center align-items-center rounded-5 bg-accent-color-2 h-100 w-100"
                            style="padding: 3rem;">
                            <h5 class="accent-color-primary">Location</h5>

                            <a href="https://www.google.com/maps/search/?api=1&query=Dreams+Mall+Kottiyam"
                                target="_blank" class="accent-color-primary m-0" style="text-decoration: none;">
                                Peppe Planet, 3rd Floor, Dreams Mall, Kottiyam
                            </a>

                        </div>

                    </div>
                </div>
                <div class="col mb-3 scrollanimation animated zoomIn">
                    <div class="d-flex flex-column align-items-center h-100 w-100">
                        <div class="bg-accent-color accent-color-primary custom-border-2">
                            <i class="rtmicon rtmicon-classic-phone fs-2"></i>
                        </div>
                        <div class="d-flex flex-column gap-3 text-center align-items-center rounded-5 bg-accent-color h-100 w-100"
                            style="padding: 3rem;">
                            <h5 class="accent-color-primary">Phone Number</h5>
                            <a href="tel:90722 05555" class="accent-color-primary m-0">
                                90722 05555
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col mb-3 scrollanimation animated zoomIn">
                    <div class="d-flex flex-column align-items-center h-100 w-100">
                        <div class="bg-accent-color-6 accent-color-primary custom-border-2">
                            <i class="rtmicon rtmicon-envelope fs-2"></i>
                        </div>
                        <div class="d-flex flex-column gap-3 text-center align-items-center rounded-5 bg-accent-color-6 h-100 w-100"
                            style="padding: 3rem;">
                            <h5 class="accent-color-primary">Email</h5>

                            <a href="mailto:info@peppeplanet.com" class="accent-color-primary m-0"
                                style="text-decoration: none;">
                                info@peppeplanet.com
                            </a>
                        </div>

                    </div>
                </div>
                {% comment %} <div class="col mb-3 scrollanimation animated fadeInRight">
                    <div class="d-flex flex-column align-items-center h-100 w-100">
                        <div class="bg-accent-color-9 accent-color-primary custom-border-2">
                            <i class="rtmicon rtmicon-globe fs-2"></i>
                        </div> {% endcomment %}
                        {% comment %} <div
                            class="d-flex flex-column gap-3 text-center align-items-center rounded-5 bg-accent-color-9 h-100 w-100"
                            style="padding: 3rem;">
                            <h5 class="accent-color-primary">Website</h5>

                            <a href="https://www.domainsite.com" target="_blank" class="accent-color-primary m-0"
                                style="text-decoration: none;">
                                www.domainsite.com
                            </a>
                        </div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="section pb-0">
        <div class="r-container">
            <div class="row row-cols-xl-2 row-cols-1 align-items-center">
                <div class="col mb-3">
                    <div class="position-relative mt-xl-5">
                        <img src="{% static 'image/contactformimg.png' %}" class="img-fluid h-100 mt-xl-5" alt=""
                            style="height: 700px width:600px">

                    </div>
                </div>
                <div class="col mb-3 scrollanimation animated fadeInRight overflow-visible position-relative"
                    style="z-index: 2;">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-column gap-3" style="max-width: 700px;">
                            <h6 class="brush1 accent-color-2" style="width: max-content;">Contact Us</h6>
                            <h3>Any Question? <span class="accent-color fw-bold">Ask Now</span></h3>
                            <p style="max-width: 600px;">
                                Got a question on your mind? Don’t hesitate! Ask now and get the answers you
                                need.
                            </p>
                        </div>
                        <div class="d-flex flex-column gap-3 justify-content-center w-100">
                            <div class="position-relative w-100">
                                <div class="success_msg toast align-items-center w-100 shadow-none mb-3 border border-success rounded-pill my-4"
                                    role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex p-2">
                                        <div
                                            class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-success">
                                            <i class="fa-solid fa-check f-36 text-success"></i>
                                            Your Message Successfully Send.
                                        </div>
                                        <button type="button"
                                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-success"
                                            data-bs-dismiss="toast" aria-label="Close"><i
                                                class="fa-solid fa-xmark"></i></button>
                                    </div>
                                </div>
                                <div class="error_msg toast align-items-center w-100 shadow-none border-danger mb-3 my-4 border rounded-pill"
                                    role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex p-2">
                                        <div
                                            class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-danger">
                                            <i class="fa-solid fa-triangle-exclamation f-36 text-danger"></i>
                                            Something Wrong ! Send Form Failed.
                                        </div>
                                        <button type="button"
                                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-danger"
                                            data-bs-dismiss="toast" aria-label="Close"><i
                                                class="fa-solid fa-xmark"></i></button>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <div class="d-flex flex-column gap-3 p-lg-4">
                                        <div>
                                            {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert 
                                                    {% if message.tags == 'success' %}alert-success
                                                    {% elif message.tags == 'error' %}alert-danger
                                                    {% else %}alert-info{% endif %}
                                                    alert-dismissible fade show" role="alert">

                                                {{ message }}
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="alert"></button>
                                            </div>
                                            {% endfor %}
                                            {% endif %}

                                            <form method="post" action="{% url 'get_in_touch' %}"
                                                class="d-flex flex-column contact h-100 justify-content-center w-100 form">

                                                {% csrf_token %}

                                                <div class="mb-3">
                                                    <input type="text" class="form-control py-3 px-4" name="name"
                                                        id="name" placeholder="Name" required>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>
                                                <div class="row row-cols-xl-2 row-cols-1">
                                                    <div class="col mb-3">
                                                        <input type="email" class="form-control py-3 px-4" name="email"
                                                            id="email" placeholder="Email" required>
                                                        <div class="invalid-feedback">
                                                            The field is required.
                                                        </div>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <input type="tel" class="form-control py-3 px-4" name="phone"
                                                            id="phone" placeholder="Phone" required>
                                                        <div class="invalid-feedback">
                                                            The field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control py-3 px-4" name="subject"
                                                        id="subject" placeholder="Subject" required>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control py-3 px-4" name="message" rows="4"
                                                        id="message" placeholder="Message" required></textarea>
                                                    <div class="invalid-feedback">
                                                        The field is required.
                                                    </div>
                                                </div>

                                                <button type="submit"
                                                    class="btn btn-accent submit_form py-3 gap-2 justify-content-center">
                                                    Send Messages
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

<script>
    // Auto-hide Django messages after 5 seconds
    setTimeout(function () {
        let messages = document.querySelectorAll('.alert');
        messages.forEach(function(msg) {
            msg.style.transition = "opacity 0.5s ease";
            msg.style.opacity = "0";
            setTimeout(() => msg.remove(), 500); // remove after fade out
        });
    }, 5000); // 5 seconds
</script>


</main>
{% endblock %}
